# Stuff that hasn't been sorted out yet: 
/OldStuffToIgnore/

# PDFs we cannot publicly share:
/InputData/PDF

# Too large BEAST output files:
/timetree/BeastOutput

# Other stuff:
.Rapp.history

# Welker data:
~/Dropbox/Mammal_Supertree/ProjectPlanetOfTheApes/InputData/TREES/Welker_etal_2019atntmpts_plus_strict.nex
~/Dropbox/Mammal_Supertree/ProjectPlanetOfTheApes/InputData/MRP/Welker_etal_2019amrp.nex
~/Dropbox/Mammal_Supertree/ProjectPlanetOfTheApes/InputData/XML/Welker_etal_2019a.xml
~/Dropbox/Mammal_Supertree/ProjectPlanetOfTheApes/InputData/Welker_analysis_files/Welker_etal_2019a.tnt
~/Dropbox/Mammal_Supertree/ProjectPlanetOfTheApes/InputData/Welker_analysis_files/Welker_etal_2019a.nex
~/Dropbox/Mammal_Supertree/ProjectPlanetOfTheApes/InputData/NEXUS/Welker_etal_2019a.nex
