<?xml version="1.0" standalone="yes"?>
<SourceTree>
	<Source>
		<Author>
			<List>Springer, M. S.</List>
			<List>Meredith, R. W.</List>
			<List>Gatesy, J.</List>
			<List>Emerling, C. A.</List>
			<List>Park, J.</List>
			<List>Rabosky, D. J.</List>
			<List>Stadler, T.</List>
			<List>Steiner, C.</List>
			<List>Ryder, O. A.</List>
			<List>Janečka, J. E.</List>
			<List>Fisher, C. A.</List>
			<List>Murphy, W. J.</List>
		</Author>
		<Year>2012</Year>
		<Title>Macroevolutionary Dynamics and Historical Biogeography of Primate Diversification Inferred from a Species Supermatrix</Title>
		<Journal>PLoS ONE</Journal>
		<Volume>7</Volume>
		<Pages>e49521</Pages>
		<Booktitle/>
		<Publisher/>
		<City/>
		<Editor/>
	</Source>
	<Taxa number="422">
		<List recon_name="Allenopithecus_nigroviridis" recon_no="385063">Allenopithecus_nigroviridis</List>
		<List recon_name="Allocebus_trichotis" recon_no="384944">Allocebus_trichotis</List>
		<List recon_name="Alouatta_belzebul" recon_no="232535">Alouatta_belzebul</List>
		<List recon_name="Alouatta_caraya" recon_no="232533">Alouatta_caraya</List>
		<List recon_name="Alouatta_coibensis" recon_no="385655">Alouatta_coibensis</List>
		<List recon_name="Alouatta_guariba" recon_no="385059">Alouatta_guariba</List>
		<List recon_name="Alouatta_macconnelli" recon_no="385060">Alouatta_macconnelli</List>
		<List recon_name="Alouatta_nigerrima" recon_no="385809">Alouatta_nigerrima</List>
		<List recon_name="Alouatta_palliata" recon_no="235367">Alouatta_palliata</List>
		<List recon_name="Alouatta_pigra" recon_no="384959">Alouatta_pigra</List>
		<List recon_name="Alouatta_sara" recon_no="385062">Alouatta_sara</List>
		<List recon_name="Alouatta_seniculus" recon_no="232537">Alouatta_seniculus</List>
		<List recon_name="Aotus_azarae" recon_no="232713">Aotus_azarae</List>
		<List recon_name="Aotus_brumbacki" recon_no="390215">Aotus_brumbacki</List>
		<List recon_name="Aotus_griseimembra" recon_no="232714">Aotus_griseimembra</List>
		<List recon_name="Aotus_azarae_infulatus" recon_no="385662">Aotus_infulatus</List>
		<List recon_name="Aotus_lemurinus" recon_no="384951">Aotus_lemurinus</List>
		<List recon_name="Aotus_nancymaae" recon_no="236606">Aotus_nancymaae</List>
		<List recon_name="Aotus_nigriceps" recon_no="385661">Aotus_nigriceps</List>
		<List recon_name="Aotus_trivirgatus" recon_no="232711">Aotus_trivirgatus</List>
		<List recon_name="Aotus_vociferans" recon_no="385663">Aotus_vociferans</List>
		<List recon_name="Archaeolemur_edwardsi" recon_no="384429">Archaeolemur_edwardsi</List>
		<List recon_name="Archaeolemur_majori" recon_no="384430">Archaeolemur_majori</List>
		<List recon_name="Arctocebus_aureus" recon_no="236707">Arctocebus_aureus</List>
		<List recon_name="Arctocebus_calabarensis" recon_no="232736">Arctocebus_calabarensis</List>
		<List recon_name="Ateles_belzebuth" recon_no="232524">Ateles_belzebuth</List>
		<List recon_name="Ateles_chamek" recon_no="384550">Ateles_chamek</List>
		<List recon_name="Ateles_fusciceps" recon_no="240462">Ateles_fusciceps</List>
		<List recon_name="Ateles_geoffroyi" recon_no="232528">Ateles_geoffroyi</List>
		<List recon_name="Ateles_hybridus" recon_no="385664">Ateles_hybridus</List>
		<List recon_name="Ateles_marginatus" recon_no="384548">Ateles_marginatus</List>
		<List recon_name="Ateles_paniscus" recon_no="232428">Ateles_paniscus</List>
		<List recon_name="Avahi_betsilio" recon_no="385665">Avahi_betsilio</List>
		<List recon_name="Avahi_cleesei" recon_no="385633">Avahi_cleesei</List>
		<List recon_name="Avahi_laniger" recon_no="232515">Avahi_laniger</List>
		<List recon_name="Avahi_meridionalis" recon_no="385634">Avahi_meridionalis</List>
		<List recon_name="Avahi_occidentalis" recon_no="385083">Avahi_occidentalis</List>
		<List recon_name="Avahi_peyrierasi" recon_no="385635">Avahi_peyrierasi</List>
		<List recon_name="Avahi_ramanantsoavani" recon_no="385637">Avahi_ramanantsoavani</List>
		<List recon_name="Avahi_unicolor" recon_no="385666">Avahi_unicolor</List>
		<List recon_name="Brachyteles_arachnoides" recon_no="232531">Brachyteles_arachnoides</List>
		<List recon_name="Brachyteles_hypoxanthus" recon_no="385679">Brachyteles_hypoxanthus</List>
		<List recon_name="Cacajao_ayresi" recon_no="385696">Cacajao_ayresi</List>
		<List recon_name="Cacajao_calvus" recon_no="232704">Cacajao_calvus</List>
		<List recon_name="Cacajao_hosomi" recon_no="385697">Cacajao_hosomi</List>
		<List recon_name="Cacajao_melanocephalus" recon_no="232690">Cacajao_melanocephalus</List>
		<List recon_name="Callicebus_brunneus" recon_no="385811">Callicebus_brunneus</List>
		<List recon_name="Callicebus_caligatus" recon_no="385813">Callicebus_caligatus</List>
		<List recon_name="Callicebus_coimbrai" recon_no="385814">Callicebus_coimbrai</List>
		<List recon_name="Callicebus_cupreus" recon_no="236616">Callicebus_cupreus</List>
		<List recon_name="Callicebus_discolor" recon_no="385651">Callicebus_discolor</List>
		<List recon_name="Callicebus_donacophilus" recon_no="384473">Callicebus_donacophilus</List>
		<List recon_name="Callicebus_hoffmannsi" recon_no="385815">Callicebus_hoffmannsi</List>
		<List recon_name="Callicebus_lugens" recon_no="385817">Callicebus_lugens</List>
		<List recon_name="Callicebus_moloch" recon_no="384487">Callicebus_moloch</List>
		<List recon_name="Callicebus_nigrifrons" recon_no="385820">Callicebus_nigrifrons</List>
		<List recon_name="Callicebus_personatus" recon_no="384494">Callicebus_personatus</List>
		<List recon_name="Callicebus_torquatus" recon_no="384498">Callicebus_torquatus</List>
		<List recon_name="Callimico_goeldii" recon_no="233443">Callimico_goeldii</List>
		<List recon_name="Callithrix_argentata" recon_no="238654">Callithrix_argentata</List>
		<List recon_name="Callithrix_aurita" recon_no="385819">Callithrix_aurita</List>
		<List recon_name="Callithrix_emiliae" recon_no="385821">Callithrix_emiliae</List>
		<List recon_name="Callithrix_geoffroyi" recon_no="385102">Callithrix_geoffroyi</List>
		<List recon_name="Callithrix_humeralifera" recon_no="385823">Callithrix_humeralifera</List>
		<List recon_name="Callithrix_humilis" recon_no="386044">Callithrix_humilis</List>
		<List recon_name="Callithrix_jacchus" recon_no="232437">Callithrix_jacchus</List>
		<List recon_name="Callithrix_kuhlii" recon_no="385824">Callithrix_kuhlii</List>
		<List recon_name="Callithrix_mauesi" recon_no="386055">Callithrix_mauesi</List>
		<List recon_name="Callithrix_penicillata" recon_no="385413">Callithrix_penicillata</List>
		<List recon_name="Callithrix_pygmaea" recon_no="236609">Callithrix_pygmaea</List>
		<List recon_name="Callithrix_saterei" recon_no="386052">Callithrix_saterei</List>
		<List recon_name="Cebus_albifrons" recon_no="232539">Cebus_albifrons</List>
		<List recon_name="Cebus_apella" recon_no="232441">Cebus_apella</List>
		<List recon_name="Cebus_capucinus" recon_no="232443">Cebus_capucinus</List>
		<List recon_name="Cebus_kaapori" recon_no="385879">Cebus_kaapori</List>
		<List recon_name="Cebus_libidinosus" recon_no="385014">Cebus_libidinosus</List>
		<List recon_name="Cebus_olivaceus" recon_no="385026">Cebus_olivaceus</List>
		<List recon_name="Cebus_robustus" recon_no="385876">Cebus_robustus</List>
		<List recon_name="Cebus_unicolor" recon_no="390422">Cebus_unicolor</List>
		<List recon_name="Cebus_versicolor" recon_no="390473">Cebus_versicolor</List>
		<List recon_name="Cebus_xanthosternos" recon_no="385877">Cebus_xanthosternos</List>
		<List recon_name="Cercocebus_agilis" recon_no="385316">Cercocebus_agilis</List>
		<List recon_name="Cercocebus_atys" recon_no="385110">Cercocebus_atys</List>
		<List recon_name="Cercocebus_chrysogaster" recon_no="385111">Cercocebus_chrysogaster</List>
		<List recon_name="Cercocebus_galeritus" recon_no="385878">Cercocebus_galeritus</List>
		<List recon_name="Cercocebus_torquatus" recon_no="233932">Cercocebus_torquatus</List>
		<List recon_name="Cercopithecus_albogularis" recon_no="232631">Cercopithecus_albogularis</List>
		<List recon_name="Cercopithecus_ascanius" recon_no="385928">Cercopithecus_ascanius</List>
		<List recon_name="Cercopithecus_campbelli" recon_no="385917">Cercopithecus_campbelli</List>
		<List recon_name="Cercopithecus_cephus" recon_no="232430">Cercopithecus_cephus</List>
		<List recon_name="Cercopithecus_denti" recon_no="385670">Cercopithecus_denti_</List>
		<List recon_name="Cercopithecus_diana" recon_no="232429">Cercopithecus_diana</List>
		<List recon_name="Cercopithecus_doggetti" recon_no="385673">Cercopithecus_doggetti_</List>
		<List recon_name="Cercopithecus_dryas" recon_no="385669">Cercopithecus_dryas</List>
		<List recon_name="Cercopithecus_erythrogaster" recon_no="385916">Cercopithecus_erythrogaster</List>
		<List recon_name="Cercopithecus_erythrotis" recon_no="236705">Cercopithecus_erythrotis</List>
		<List recon_name="Cercopithecus_hamlyni" recon_no="385108">Cercopithecus_hamlyni</List>
		<List recon_name="Cercopithecus_kandti" recon_no="385675">Cercopithecus_kandti</List>
		<List recon_name="Cercopithecus_lhoesti" recon_no="92701">Cercopithecus_lhoesti</List>
		<List recon_name="Cercopithecus_mitis" recon_no="235354">Cercopithecus_mitis</List>
		<List recon_name="Cercopithecus_mona" recon_no="385915">Cercopithecus_mona</List>
		<List recon_name="Cercopithecus_neglectus" recon_no="385044">Cercopithecus_neglectus</List>
		<List recon_name="Cercopithecus_nictitans" recon_no="232635">Cercopithecus_nictitans</List>
		<List recon_name="Cercopithecus_petaurista" recon_no="385908">Cercopithecus_petaurista</List>
		<List recon_name="Cercopithecus_pogonias" recon_no="385911">Cercopithecus_pogonias</List>
		<List recon_name="Cercopithecus_preussi" recon_no="385914">Cercopithecus_preussi</List>
		<List recon_name="Cercopithecus_roloway" recon_no="385808">Cercopithecus_roloway</List>
		<List recon_name="Cercopithecus_solatus" recon_no="92699">Cercopithecus_solatus</List>
		<List recon_name="Cercopithecus_wolfi" recon_no="385884">Cercopithecus_wolfi</List>
		<List recon_name="Cheirogaleus_crossleyi" recon_no="386066">Cheirogaleus_crossleyi</List>
		<List recon_name="Cheirogaleus_lavasoensis" recon_no="391022">Cheirogaleus_lavasoensis</List>
		<List recon_name="Cheirogaleus_major" recon_no="384941">Cheirogaleus_major</List>
		<List recon_name="Cheirogaleus_medius" recon_no="240281">Cheirogaleus_medius</List>
		<List recon_name="Cheirogaleus_sibreei" recon_no="385889">Cheirogaleus_sibreei</List>
		<List recon_name="Cheracebus_purinus" recon_no="391127">Cheracebus_purinus</List>
		<List recon_name="Chiropotes_albinasus" recon_no="232708">Chiropotes_albinasus</List>
		<List recon_name="Chiropotes_chiropotes" recon_no="385100">Chiropotes_chiropotes</List>
		<List recon_name="Chiropotes_israelita" recon_no="385881">Chiropotes_israelita</List>
		<List recon_name="Chiropotes_utahickae" recon_no="385883">Chiropotes_utahicki</List>
		<List recon_name="Chlorocebus_aethiops" recon_no="92704">Chlorocebus_aethiops</List>
		<List recon_name="Chlorocebus_cynosuros" recon_no="385891">Chlorocebus_cynosuros</List>
		<List recon_name="Chlorocebus_djamdjamensis" recon_no="385807">Chlorocebus_djamdjamensis</List>
		<List recon_name="Chlorocebus_pygerythrus" recon_no="385892">Chlorocebus_pygerythrus</List>
		<List recon_name="Chlorocebus_sabaeus" recon_no="385893">Chlorocebus_sabaeus</List>
		<List recon_name="Chlorocebus_tantalus" recon_no="385895">Chlorocebus_tantalus</List>
		<List recon_name="Colobus_angolensis" recon_no="236483">Colobus_angolensis</List>
		<List recon_name="Colobus_guereza" recon_no="231533">Colobus_guereza</List>
		<List recon_name="Colobus_polykomos" recon_no="236482">Colobus_polykomos</List>
		<List recon_name="Colobus_satanas" recon_no="240325">Colobus_satanas</List>
		<List recon_name="Colobus_vellerosus" recon_no="385897">Colobus_vellerosus</List>
		<List recon_name="Cynocephalus_volans" recon_no="206240">Cynocephalus_volans</List>
		<List recon_name="Daubentonia_madagascariensis" recon_no="232753">Daubentonia_madagascariensis</List>
		<List recon_name="Erythrocebus_patas" recon_no="92705">Erythrocebus_patas</List>
		<List recon_name="Eulemur_albifrons" recon_no="385118">Eulemur_albifrons</List>
		<List recon_name="Eulemur_cinereiceps" recon_no="385942">Eulemur_cinereiceps</List>
		<List recon_name="Eulemur_collaris" recon_no="239193">Eulemur_collaris</List>
		<List recon_name="Eulemur_coronatus" recon_no="239195">Eulemur_coronatus</List>
		<List recon_name="Eulemur_flavifrons" recon_no="232781">Eulemur_flavifrons</List>
		<List recon_name="Eulemur_fulvus" recon_no="239189">Eulemur_fulvus</List>
		<List recon_name="Eulemur_macaco" recon_no="232779">Eulemur_macaco</List>
		<List recon_name="Eulemur_mongoz" recon_no="239196">Eulemur_mongoz</List>
		<List recon_name="Eulemur_rubriventer" recon_no="239198">Eulemur_rubriventer</List>
		<List recon_name="Eulemur_rufifrons" recon_no="385941">Eulemur_rufifrons</List>
		<List recon_name="Eulemur_rufus" recon_no="385124">Eulemur_rufus</List>
		<List recon_name="Eulemur_sanfordi" recon_no="385943">Eulemur_sanfordi</List>
		<List recon_name="Euoticus_elegantulus" recon_no="238589">Euoticus_elegantulus</List>
		<List recon_name="Galago_alleni" recon_no="232724">Galago_alleni</List>
		<List recon_name="Galago_demidoff" recon_no="385150">Galago_demidoff</List>
		<List recon_name="Galago_gabonensis" recon_no="385873">Galago_gabonensis</List>
		<List recon_name="Galago_gallarum" recon_no="236817">Galago_gallarum</List>
		<List recon_name="Galago_granti" recon_no="385153">Galago_granti</List>
		<List recon_name="Galago_matschiei" recon_no="385068">Galago_matschiei</List>
		<List recon_name="Galago_moholi" recon_no="232726">Galago_moholi</List>
		<List recon_name="Galago_orinus" recon_no="385871">Galago_orinus</List>
		<List recon_name="Galago_senegalensis" recon_no="232725">Galago_senegalensis</List>
		<List recon_name="Galago_thomasi" recon_no="385870">Galago_thomasi</List>
		<List recon_name="Galago_zanzibaricus" recon_no="385869">Galago_zanzibaricus</List>
		<List recon_name="Paragalago_cocos" recon_no="391032">Galagoides_cocos</List>
		<List recon_name="Paragalago_rondoensis" recon_no="390419">Galagoides_rondoensis</List>
		<List recon_name="Galeopterus_variegatus" recon_no="206242">Galeopterus_variegatus</List>
		<List recon_name="Gorilla_beringei" recon_no="232980">Gorilla_beringei</List>
		<List recon_name="Gorilla_gorilla" recon_no="231497">Gorilla_gorilla</List>
		<List recon_name="Hadropithecus_stenognathus" recon_no="385135">Hadropithecus_stenognathus</List>
		<List recon_name="Hapalemur_alaotrensis" recon_no="385885">Hapalemur_alaotrensis</List>
		<List recon_name="Hapalemur_aureus" recon_no="385886">Hapalemur_aureus</List>
		<List recon_name="Hapalemur_griseus" recon_no="385317">Hapalemur_griseus</List>
		<List recon_name="Hapalemur_meridionalis" recon_no="385888">Hapalemur_meridionalis</List>
		<List recon_name="Hapalemur_occidentalis" recon_no="385906">Hapalemur_occidentalis</List>
		<List recon_name="Homo_heidelbergensis" recon_no="83086">Homo_heidelbergensis</List>
		<List recon_name="Homo_sapiens" recon_no="83088">Homo_sapiens</List>
		<List recon_name="Homo_neanderthalensis" recon_no="83087">Homo_sapiens_neanderthalensis</List>
		<List recon_name="Hoolock_hoolock" recon_no="158834">Hoolock_hoolock</List>
		<List recon_name="Hoolock_leuconedys" recon_no="158854">Hoolock_leuconedys</List>
		<List recon_name="Hoolock_tianxing" recon_no="390652">Hoolock_tianxing</List>
		<List recon_name="Hylobates_abbotti" recon_no="238875">Hylobates_abbotti</List>
		<List recon_name="Hylobates_agilis" recon_no="237573">Hylobates_agilis</List>
		<List recon_name="Hylobates_albibarbis" recon_no="238877">Hylobates_albibarbis</List>
		<List recon_name="Hylobates_funereus" recon_no="238830">Hylobates_funereus</List>
		<List recon_name="Hylobates_klossii" recon_no="237572">Hylobates_klossii</List>
		<List recon_name="Hylobates_lar" recon_no="231499">Hylobates_lar</List>
		<List recon_name="Hylobates_moloch" recon_no="232651">Hylobates_moloch</List>
		<List recon_name="Hylobates_muelleri" recon_no="238873">Hylobates_muelleri</List>
		<List recon_name="Hylobates_pileatus" recon_no="237583">Hylobates_pileatus</List>
		<List recon_name="Indri_indri" recon_no="232456">Indri_indri</List>
		<List recon_name="Lagomorpha" recon_no="42151">Lagomorpha</List>
		<List recon_name="Lagothrix_cana" recon_no="232675">Lagothrix_cana</List>
		<List recon_name="Lagothrix_flavicauda" recon_no="232678">Lagothrix_flavicauda</List>
		<List recon_name="Lagothrix_lagotricha" recon_no="232530">Lagothrix_lagotricha</List>
		<List recon_name="Lagothrix_lugens" recon_no="385052">Lagothrix_lugens</List>
		<List recon_name="Lagothrix_poeppigii" recon_no="385318">Lagothrix_poeppigii</List>
		<List recon_name="Lemur_catta" recon_no="104138">Lemur_catta</List>
		<List recon_name="Leontopithecus_chrysomelas" recon_no="385113">Leontopithecus_chrysomelas</List>
		<List recon_name="Leontopithecus_chrysopygus" recon_no="385907">Leontopithecus_chrysopygus</List>
		<List recon_name="Leontopithecus_rosalia" recon_no="385319">Leontopithecus_rosalia</List>
		<List recon_name="Lepilemur_aeeclis" recon_no="385842">Lepilemur_aeeclis</List>
		<List recon_name="Lepilemur_ahmansoni" recon_no="385691">Lepilemur_ahmansoni</List>
		<List recon_name="Lepilemur_ankaranensis" recon_no="385940">Lepilemur_ankaranensis</List>
		<List recon_name="Lepilemur_betsileo" recon_no="385692">Lepilemur_betsileo</List>
		<List recon_name="Lepilemur_dorsalis" recon_no="385136">Lepilemur_dorsalis</List>
		<List recon_name="Lepilemur_edwardsi" recon_no="385139">Lepilemur_edwardsi</List>
		<List recon_name="Lepilemur_fleuretae" recon_no="385693">Lepilemur_fleuretae</List>
		<List recon_name="Lepilemur_grewcockorum" recon_no="385932">Lepilemur_grewcockorum</List>
		<List recon_name="Lepilemur_hubbardorum" recon_no="385933">Lepilemur_hubbardorum</List>
		<List recon_name="Lepilemur_jamesorum" recon_no="386067">Lepilemur_jamesorum</List>
		<List recon_name="Lepilemur_leucopus" recon_no="385141">Lepilemur_leucopus</List>
		<List recon_name="Lepilemur_microdon" recon_no="385937">Lepilemur_microdon</List>
		<List recon_name="Lepilemur_milanoii" recon_no="385687">Lepilemur_milanoii</List>
		<List recon_name="Lepilemur_mittermeieri" recon_no="385935">Lepilemur_mittermeieri</List>
		<List recon_name="Lepilemur_mustelinus" recon_no="385148">Lepilemur_mustelinus</List>
		<List recon_name="Lepilemur_otto" recon_no="385874">Lepilemur_otto</List>
		<List recon_name="Lepilemur_petteri" recon_no="385686">Lepilemur_petteri</List>
		<List recon_name="Lepilemur_randrianasoloi" recon_no="386065">Lepilemur_randrianasoloi</List>
		<List recon_name="Lepilemur_ruficaudatus" recon_no="385142">Lepilemur_ruficaudatus</List>
		<List recon_name="Lepilemur_sahamalazensis" recon_no="385843">Lepilemur_sahamalazensis</List>
		<List recon_name="Lepilemur_scottorum" recon_no="390258">Lepilemur_scottorum</List>
		<List recon_name="Lepilemur_seali" recon_no="385685">Lepilemur_seali</List>
		<List recon_name="Lepilemur_septentrionalis" recon_no="385844">Lepilemur_septentrionalis</List>
		<List recon_name="Lepilemur_tymerlachsoni" recon_no="385684">Lepilemur_tymerlachsoni</List>
		<List recon_name="Lepilemur_wrighti" recon_no="385683">Lepilemur_wrighti</List>
		<List recon_name="Lepilemur_hollandorum" recon_no="390510">Lepilmeur_hollandorum</List>
		<List recon_name="Lophocebus_albigena" recon_no="240334">Lophocebus_albigena</List>
		<List recon_name="Lophocebus_aterrimus" recon_no="385202">Lophocebus_aterrimus</List>
		<List recon_name="Loris_lydekkerianus" recon_no="385682">Loris_lydekkerianus</List>
		<List recon_name="Loris_tardigradus" recon_no="206247">Loris_tardigradus</List>
		<List recon_name="Macaca_arctoides" recon_no="240319">Macaca_arctoides</List>
		<List recon_name="Macaca_assamensis" recon_no="231976">Macaca_assamensis</List>
		<List recon_name="Macaca_ochreata_brunnescens" recon_no="385787">Macaca_brunnescens</List>
		<List recon_name="Macaca_cyclopis" recon_no="240321">Macaca_cyclopis</List>
		<List recon_name="Macaca_fascicularis" recon_no="231530">Macaca_fascicularis</List>
		<List recon_name="Macaca_fuscata" recon_no="385071">Macaca_fuscata</List>
		<List recon_name="Macaca_hecki" recon_no="385786">Macaca_hecki</List>
		<List recon_name="Macaca_leonina" recon_no="385783">Macaca_leonina</List>
		<List recon_name="Macaca_leucogenys" recon_no="390504">Macaca_leucogenys</List>
		<List recon_name="Macaca_maura" recon_no="385781">Macaca_maura</List>
		<List recon_name="Macaca_mulatta" recon_no="232541">Macaca_mulatta</List>
		<List recon_name="Macaca_munzala" recon_no="385780">Macaca_munzala</List>
		<List recon_name="Macaca_nemestrina" recon_no="231528">Macaca_nemestrina</List>
		<List recon_name="Macaca_nigra" recon_no="385779">Macaca_nigra</List>
		<List recon_name="Macaca_nigrescens" recon_no="385778">Macaca_nigrescens</List>
		<List recon_name="Macaca_ochreata" recon_no="385777">Macaca_ochreata</List>
		<List recon_name="Macaca_pagensis" recon_no="385776">Macaca_pagensis</List>
		<List recon_name="Macaca_radiata" recon_no="238678">Macaca_radiata</List>
		<List recon_name="Macaca_siberu" recon_no="385656">Macaca_siberu</List>
		<List recon_name="Macaca_silenus" recon_no="232427">Macaca_silenus</List>
		<List recon_name="Macaca_sinica" recon_no="238677">Macaca_sinica</List>
		<List recon_name="Macaca_sylvanus" recon_no="232422">Macaca_sylvanus</List>
		<List recon_name="Macaca_thibetana" recon_no="240323">Macaca_thibetana</List>
		<List recon_name="Macaca_tonkeana" recon_no="385719">Macaca_tonkeana</List>
		<List recon_name="Mandrillus_leucophaeus" recon_no="232590">Mandrillus_leucophaeus</List>
		<List recon_name="Mandrillus_sphinx" recon_no="232550">Mandrillus_sphinx</List>
		<List recon_name="Megaladapis_edwardsi" recon_no="384278">Megaladapis_edwardsi</List>
		<List recon_name="Microcebus_arnholdi" recon_no="385766">Microcebus_arnholdi</List>
		<List recon_name="Microcebus_berthae" recon_no="385774">Microcebus_berthae</List>
		<List recon_name="Microcebus_bongolavensis" recon_no="385771">Microcebus_bongolavensis</List>
		<List recon_name="Microcebus_danfossi" recon_no="385772">Microcebus_danfossi</List>
		<List recon_name="Microcebus_gerpi" recon_no="385770">Microcebus_gerpi</List>
		<List recon_name="Microcebus_griseorufus" recon_no="385162">Microcebus_griseorufus</List>
		<List recon_name="Microcebus_jollyae" recon_no="385699">Microcebus_jollyae</List>
		<List recon_name="Microcebus_lehilahytsara" recon_no="385769">Microcebus_lehilahytsara</List>
		<List recon_name="Microcebus_macarthurii" recon_no="385768">Microcebus_macarthurii</List>
		<List recon_name="Microcebus_mamiratra" recon_no="385767">Microcebus_mamiratra</List>
		<List recon_name="Microcebus_margotmarshae" recon_no="385765">Microcebus_margotmarshae</List>
		<List recon_name="Microcebus_marohita" recon_no="390438">Microcebus_marohita</List>
		<List recon_name="Microcebus_mittermeieri" recon_no="385700">Microcebus_mittermeieri</List>
		<List recon_name="Microcebus_murinus" recon_no="232487">Microcebus_murinus</List>
		<List recon_name="Microcebus_myoxinus" recon_no="232493">Microcebus_myoxinus</List>
		<List recon_name="Microcebus_ravelobensis" recon_no="385764">Microcebus_ravelobensis</List>
		<List recon_name="Microcebus_rufus" recon_no="232494">Microcebus_rufus</List>
		<List recon_name="Microcebus_sambiranensis" recon_no="385702">Microcebus_sambiranensis</List>
		<List recon_name="Microcebus_simmonsi" recon_no="385698">Microcebus_simmonsi</List>
		<List recon_name="DELETE" recon_no="0">Microcebus_sp_nova1Louis06</List>
		<List recon_name="DELETE" recon_no="0">Microcebus_sp_nova3Louis06</List>
		<List recon_name="DELETE" recon_no="0">Microcebus_sp_nova3Radespiel08</List>
		<List recon_name="DELETE" recon_no="0">Microcebus_spDWW2010aManantantel</List>
		<List recon_name="DELETE" recon_no="0">Microcebus_spDWW2010aMarolambo</List>
		<List recon_name="Microcebus_tanosi" recon_no="390437">Microcebus_tanosi</List>
		<List recon_name="Microcebus_tavaratra" recon_no="385701">Microcebus_tavaratra</List>
		<List recon_name="Miopithecus_ogouensis" recon_no="385658">Miopithecus_ogouensis</List>
		<List recon_name="Miopithecus_talapoin" recon_no="385144">Miopithecus_talapoin</List>
		<List recon_name="Mirza_coquereli" recon_no="385145">Mirza_coquereli</List>
		<List recon_name="Mirza_zaza" recon_no="385660">Mirza_zaza</List>
		<List recon_name="Nasalis_larvatus" recon_no="231532">Nasalis_larvatus</List>
		<List recon_name="Nomascus_concolor" recon_no="158849">Nomascus_concolor</List>
		<List recon_name="Nomascus_gabriellae" recon_no="238886">Nomascus_gabriellae</List>
		<List recon_name="Nomascus_hainanus" recon_no="238880">Nomascus_hainanus</List>
		<List recon_name="Nomascus_leucogenys" recon_no="238884">Nomascus_leucogenys</List>
		<List recon_name="Nomascus_nasutus" recon_no="238881">Nomascus_nasutus</List>
		<List recon_name="Nomascus_siki" recon_no="238885">Nomascus_siki</List>
		<List recon_name="Nycticebus_bengalensis" recon_no="234320">Nycticebus_bengalensis</List>
		<List recon_name="Nycticebus_coucang" recon_no="234313">Nycticebus_coucang</List>
		<List recon_name="Nycticebus_javanicus" recon_no="234317">Nycticebus_javanicus</List>
		<List recon_name="Nycticebus_menagensis" recon_no="385931">Nycticebus_menagensis</List>
		<List recon_name="Nycticebus_pygmaeus" recon_no="231977">Nycticebus_pygmaeus</List>
		<List recon_name="Otolemur_crassicaudatus" recon_no="385164">Otolemur_crassicaudatus</List>
		<List recon_name="Otolemur_garnettii" recon_no="385166">Otolemur_garnettii</List>
		<List recon_name="Otolemur_monteiri" recon_no="385846">Otolemur_monteiri</List>
		<List recon_name="Pachylemur_jullyi" recon_no="385657">Pachylemur_jullyi</List>
		<List recon_name="Palaeopropithecus_ingens" recon_no="384308">Palaeopropithecus_ingens</List>
		<List recon_name="Palaeopropithecus_maximus" recon_no="384309">Palaeopropithecus_maximus</List>
		<List recon_name="Pan_paniscus" recon_no="236870">Pan_paniscus</List>
		<List recon_name="Pan_troglodytes" recon_no="157891">Pan_troglodytes</List>
		<List recon_name="Papio_anubis" recon_no="232556">Papio_anubis</List>
		<List recon_name="Papio_cynocephalus" recon_no="231526">Papio_cynocephalus</List>
		<List recon_name="Papio_hamadryas" recon_no="232436">Papio_hamadryas</List>
		<List recon_name="Papio_kindae" recon_no="386047">Papio_kindae</List>
		<List recon_name="Papio_papio" recon_no="232560">Papio_papio</List>
		<List recon_name="Papio_ursinus" recon_no="385206">Papio_ursinus</List>
		<List recon_name="Perodicticus_potto" recon_no="232729">Perodicticus_potto</List>
		<List recon_name="Perodicticus_edwardsi" recon_no="390409">Perodicticus_potto_edwardsi</List>
		<List recon_name="Perodicticus_ibeanus" recon_no="390408">Perodicticus_potto_ibeanus</List>
		<List recon_name="Phaner_electromontis" recon_no="390374">Phaner_electromontis</List>
		<List recon_name="Phaner_furcifer" recon_no="385151">Phaner_furcifer</List>
		<List recon_name="Phaner_pallescens" recon_no="385788">Phaner_pallescens</List>
		<List recon_name="Phaner_parienti" recon_no="390378">Phaner_parienti</List>
		<List recon_name="Piliocolobus_badius" recon_no="236465">Piliocolobus_badius</List>
		<List recon_name="Piliocolobus_foai" recon_no="385867">Piliocolobus_foai</List>
		<List recon_name="Piliocolobus_gordonorum" recon_no="385868">Piliocolobus_gordonorum</List>
		<List recon_name="Piliocolobus_kirkii" recon_no="385800">Piliocolobus_kirkii</List>
		<List recon_name="Piliocolobus_pennantii" recon_no="385798">Piliocolobus_pennantii</List>
		<List recon_name="Piliocolobus_preussi" recon_no="385796">Piliocolobus_preussi</List>
		<List recon_name="Piliocolobus_rufomitratus" recon_no="385793">Piliocolobus_rufomitratus</List>
		<List recon_name="Piliocolobus_tephrosceles" recon_no="385791">Piliocolobus_tephrosceles</List>
		<List recon_name="Piliocolobus_tholloni" recon_no="385789">Piliocolobus_tholloni</List>
		<List recon_name="Pithecia_irrorata" recon_no="385690">Pithecia_irrorata</List>
		<List recon_name="Pithecia_monachus" recon_no="232706">Pithecia_monachus</List>
		<List recon_name="Pithecia_pithecia" recon_no="384930">Pithecia_pithecia</List>
		<List recon_name="Plecturocebus_bernhardi" recon_no="390291">Plecturocebus_bernhardi</List>
		<List recon_name="Plecturocebus_cinerascens" recon_no="390300">Plecturocebus_cinerascens</List>
		<List recon_name="Plecturocebus_miltoni" recon_no="390308">Plecturocebus_miltoni</List>
		<List recon_name="Pongo_abelii" recon_no="232339">Pongo_abelii</List>
		<List recon_name="Pongo_pygmaeus" recon_no="183261">Pongo_pygmaeus</List>
		<List recon_name="Presbytis_bicolor" recon_no="385863">Presbytis_bicolor</List>
		<List recon_name="Presbytis_chrysomelas" recon_no="385865">Presbytis_chrysomelas</List>
		<List recon_name="Presbytis_comata" recon_no="385903">Presbytis_comata</List>
		<List recon_name="Presbytis_femoralis" recon_no="385905">Presbytis_femoralis</List>
		<List recon_name="Presbytis_comata_fredericae" recon_no="385904">Presbytis_fredericae</List>
		<List recon_name="Presbytis_frontata" recon_no="238662">Presbytis_frontata</List>
		<List recon_name="Presbytis_hosei" recon_no="238664">Presbytis_hosei</List>
		<List recon_name="Presbytis_melalophos" recon_no="368198">Presbytis_melalophos</List>
		<List recon_name="Presbytis_mitrata" recon_no="232435">Presbytis_mitrata</List>
		<List recon_name="Presbytis_potenziani" recon_no="385858">Presbytis_potenziani</List>
		<List recon_name="Presbytis_rubicunda" recon_no="231537">Presbytis_rubicunda</List>
		<List recon_name="Presbytis_siberu" recon_no="385860">Presbytis_siberu</List>
		<List recon_name="Presbytis_melalophos_sumatranus" recon_no="385841">Presbytis_sumatranu</List>
		<List recon_name="Presbytis_thomasi" recon_no="237566">Presbytis_thomasi</List>
		<List recon_name="Procolobus_verus" recon_no="234342">Procolobus_verus</List>
		<List recon_name="Prolemur_simus" recon_no="385073">Prolemur_simus</List>
		<List recon_name="Propithecus_coquereli" recon_no="385155">Propithecus_coquereli</List>
		<List recon_name="Propithecus_deckenii" recon_no="385322">Propithecus_deckenii</List>
		<List recon_name="Propithecus_deckenii_coronatus" recon_no="385323">Propithecus_deckenii_coronatus</List>
		<List recon_name="Propithecus_diadema" recon_no="385156">Propithecus_diadema</List>
		<List recon_name="Propithecus_edwardsi" recon_no="385220">Propithecus_edwardsi</List>
		<List recon_name="Propithecus_perrieri" recon_no="385222">Propithecus_perrieri</List>
		<List recon_name="Propithecus_tattersalli" recon_no="385076">Propithecus_tattersalli</List>
		<List recon_name="Propithecus_verreauxi" recon_no="385079">Propithecus_verreauxi</List>
		<List recon_name="Pygathrix_cinerea" recon_no="385857">Pygathrix_cinerea</List>
		<List recon_name="Pygathrix_nemaeus" recon_no="232433">Pygathrix_nemaeus</List>
		<List recon_name="Pygathrix_nigripes" recon_no="232434">Pygathrix_nigripes</List>
		<List recon_name="Rhinopithecus_avunculus" recon_no="240789">Rhinopithecus_avunculus</List>
		<List recon_name="Rhinopithecus_bieti" recon_no="236472">Rhinopithecus_bieti</List>
		<List recon_name="Rhinopithecus_brelichi" recon_no="236485">Rhinopithecus_brelichi</List>
		<List recon_name="Rhinopithecus_roxellana" recon_no="236470">Rhinopithecus_roxellana</List>
		<List recon_name="Rhinopithecus_strykeri" recon_no="240794">Rhinopithecus_strykeri</List>
		<List recon_name="Rungwecebus_kipunji" recon_no="385291">Rungwecebus_kipunji</List>
		<List recon_name="Saguinus_bicolor" recon_no="385840">Saguinus_bicolor</List>
		<List recon_name="Saguinus_fuscicollis" recon_no="231758">Saguinus_fuscicollis</List>
		<List recon_name="Leontocebus_lagonotus" recon_no="390524">Saguinus_fuscicollis_lagonotus</List>
		<List recon_name="Leontocebus_weddelli" recon_no="390526">Saguinus_fusicollis_weddelli</List>
		<List recon_name="Saguinus_geoffroyi" recon_no="385320">Saguinus_geoffroyi</List>
		<List recon_name="Saguinus_graellsi" recon_no="385839">Saguinus_graellsi</List>
		<List recon_name="Saguinus_imperator" recon_no="385838">Saguinus_imperator</List>
		<List recon_name="Saguinus_labiatus" recon_no="385836">Saguinus_labiatus</List>
		<List recon_name="Saguinus_leucopus" recon_no="385321">Saguinus_leucopus</List>
		<List recon_name="Saguinus_martinsi" recon_no="385835">Saguinus_martinsi</List>
		<List recon_name="Saguinus_melanoleucus" recon_no="385834">Saguinus_melanoleucus</List>
		<List recon_name="Saguinus_midas" recon_no="238652">Saguinus_midas</List>
		<List recon_name="Saguinus_mystax" recon_no="236612">Saguinus_mystax</List>
		<List recon_name="Saguinus_niger" recon_no="385833">Saguinus_niger</List>
		<List recon_name="Saguinus_nigricollis" recon_no="385832">Saguinus_nigricollis</List>
		<List recon_name="Saguinus_oedipus" recon_no="385260">Saguinus_oedipus</List>
		<List recon_name="Saguinus_tripartitus" recon_no="385831">Saguinus_tripartitus</List>
		<List recon_name="Saimiri_boliviensis" recon_no="385262">Saimiri_boliviensis</List>
		<List recon_name="Saimiri_oerstedii" recon_no="385265">Saimiri_oerstedii</List>
		<List recon_name="Saimiri_sciureus" recon_no="232446">Saimiri_sciureus</List>
		<List recon_name="Saimiri_collinsi" recon_no="390226">Saimiri_sciureus_collinsi</List>
		<List recon_name="Saimiri_ustus" recon_no="238651">Saimiri_ustus</List>
		<List recon_name="Semnopithecus_entellus" recon_no="232625">Semnopithecus_entellus</List>
		<List recon_name="Semnopithecus_hector" recon_no="385829">Semnopithecus_hector</List>
		<List recon_name="Semnopithecus_priam" recon_no="385653">Semnopithecus_priam</List>
		<List recon_name="Simias_concolor" recon_no="236468">Simias_concolor</List>
		<List recon_name="Symphalangus_syndactylus" recon_no="234329">Symphalangus_syndactylus</List>
		<List recon_name="Tarsius_bancanus" recon_no="232742">Tarsius_bancanus</List>
		<List recon_name="Tarsius_dentatus" recon_no="238719">Tarsius_dentatus</List>
		<List recon_name="Tarsius_fuscus" recon_no="232741">Tarsius_fuscus</List>
		<List recon_name="Tarsius_lariang" recon_no="238733">Tarsius_lariang</List>
		<List recon_name="Tarsius_sangirensis" recon_no="238714">Tarsius_sangirensis</List>
		<List recon_name="Carlito_syrichta" recon_no="238737">Tarsius_syrichta</List>
		<List recon_name="Tarsius_tarsier" recon_no="232740">Tarsius_tarsier</List>
		<List recon_name="Tarsius_wallacei" recon_no="238735">Tarsius_wallacei</List>
		<List recon_name="Theropithecus_gelada" recon_no="233450">Theropithecus_gelada</List>
		<List recon_name="Trachypithecus_auratus" recon_no="237549">Trachypithecus_auratus</List>
		<List recon_name="Trachypithecus_barbei" recon_no="238699">Trachypithecus_barbei</List>
		<List recon_name="Trachypithecus_cristatus" recon_no="231535">Trachypithecus_cristatus</List>
		<List recon_name="Trachypithecus_delacouri" recon_no="238695">Trachypithecus_delacouri</List>
		<List recon_name="Trachypithecus_francoisi" recon_no="236478">Trachypithecus_francoisi</List>
		<List recon_name="Trachypithecus_geei" recon_no="238686">Trachypithecus_geei</List>
		<List recon_name="Trachypithecus_germaini" recon_no="238701">Trachypithecus_germaini</List>
		<List recon_name="Trachypithecus_hatinhensis" recon_no="385826">Trachypithecus_hatinhensis</List>
		<List recon_name="Trachypithecus_johnii" recon_no="385219">Trachypithecus_johnii</List>
		<List recon_name="Trachypithecus_laotum" recon_no="238697">Trachypithecus_laotum</List>
		<List recon_name="Trachypithecus_mauritius" recon_no="390158">Trachypithecus_mauritius</List>
		<List recon_name="Trachypithecus_obscurus" recon_no="236480">Trachypithecus_obscurus</List>
		<List recon_name="Trachypithecus_phayrei" recon_no="238676">Trachypithecus_phayrei</List>
		<List recon_name="Trachypithecus_phayrei_crepuscula" recon_no="390166">Trachypithecus_phayrei_crepuscula</List>
		<List recon_name="Trachypithecus_pileatus" recon_no="236466">Trachypithecus_pileatus</List>
		<List recon_name="Trachypithecus_poliocephalus" recon_no="238690">Trachypithecus_poliocephalus</List>
		<List recon_name="Trachypithecus_vetulus" recon_no="240326">Trachypithecus_vetulus</List>
		<List recon_name="Tupaia_glis" recon_no="234212">Tupaia_glis</List>
		<List recon_name="Tupaia_minor" recon_no="234216">Tupaia_minor</List>
		<List recon_name="Varecia_rubra" recon_no="385253">Varecia_rubra</List>
		<List recon_name="Varecia_variegata" recon_no="237775">Varecia_variegata</List>
		<List recon_name="Xenothrix_mcgregori" recon_no="384306">Xenothrix_mcgregori</List>
	</Taxa>
	<Characters>
		<Molecular/>
		<Morphological number="737">
			<Type>Osteology</Type>
		</Morphological>
		<Behavioural/>
		<Other/>
	</Characters>
	<Analysis>
		<Type>Maximum Parsimony</Type>
	</Analysis>
	<Notes>Based on reanalysis of the original matrix.</Notes>
	<Filename>Springer_etal_2012a</Filename>
	<Parent/>
	<Sibling/>
</SourceTree>
